header{
    background-color: cyan;
    padding-bottom: 2px;
    margin-bottom: 20px;
    border: 2px solid green;
}

nav{
    background-color: purple;
    margin: 20px 40px 5px 40px;
    padding: 0px 10px 20px 10px;
    border: 2px solid yellowgreen
}

section{
    background-color: mediumblue;
    width: 70%;
    height: 350px;
    margin-bottom: 20px;
    border: 2px solid black;
    float: left;

  
}

article{
    background-color: pink;
    margin-top: 3%;
    margin-right: 1%;
    margin-left: 1%;
    padding: 5px 5px 50px;
  
    
    }

aside{
    background-color: orangered;
    width: 27%;
    height: 350px;
    border: 2px solid brown;
    float: right

}

footer{
    background-color: aqua;
    padding-bottom: 20px;
    border: 2px solid blue;
    clear: both;
 
    
}